/* 
  ##Device = Most of the Galaxy fold Mobiles (Portrait)
  ##Screen = B/w 279px to 319px
*/

@media (min-width: 279px) and (max-width: 319px) {

  /* CSS */
  /* header styles */
  header {
    display: flex;
    justify-content: space-around;
    padding: 22px 98px 20px 30px;
    gap: 21px;
    text-align: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    flex-direction: column;
  }

  .nav-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .nav-icon {
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 256px;
    height: 59px;
    flex-shrink: 0;
    align-items: center;
    text-align: center;
    margin: 5px 0px 0px 70px;
  }

  .nav-container a {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0px 4px 20px;
    text-decoration: none;
    align-items: center;
  }

  /* banner styles */
  .banner {
    display: flex;
    justify-content: space-between;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 700px 700px;
    gap: 0px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    flex-direction: column-reverse;
  }

  .banner-content {
    padding: 17px;
    margin-left: 9px;
  }

  .banner-content h1 {
    text-align: left;
    font-size: 58px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .banner-btn-container .go-rogue-btn {
    display: inline-flex;
    padding: 12px 15px;
    color: #FFF;
    font-weight: 600;
    align-items: flex-start;
    border: 0;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    transition: .5s;
  }

  .img-gallery-container {
    display: grid;
    grid-template-columns: auto;
    gap: 0px;
  }

  .img-card img {
    width: 100%;
    height: 229px;
  }

  .img-card {
    width: 100%;
    height: 322px;
  }

  /* gamer styles */
  /* gamer styles */
  .gamer {
    display: flex;
    padding: 50px;
    background: #FFF9FC;
    flex-direction: column;
  }

  .gamer-img img {
    width: 215px;
  }

  .gamer-content h1 {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gamer-content .purpose {
    color: #534C64;
    font-size: 15px;
    text-align: center;
    margin: 0px 30px 0px 0px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }

  .know-more-btn-container .know-more-btn {
    display: inline-flex;
    padding: 15px 30px;
    color: #FFF;
    font-weight: 600;
    align-items: flex-end;
    border: 0;
    gap: 10px;
    border-radius: 48px;
    border: 1px solid #fff;
    background: #FF42A5;
    transition: .5s;
    text-align: right;
    margin: 20px 0px 0px 64px;
  }

  .gamer-content h4 {
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
  }

  .gamer-content p {
    color: #534C64;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    margin: 10px 0px 0px 0px;
  }

  .know-more-btn-container .know-more-btn {
    display: inline-flex;
    padding: 15px 30px;
    color: #FFF;
    font-weight: 600;
    align-items: flex-end;
    border: 0;
    gap: 10px;
    border-radius: 48px;
    border: 1px solid #fff;
    background: #FF42A5;
    transition: .5s;
    text-align: right;
    margin: 14px 0px 1px 13px;
  }
  .main-content {
    padding-left: 23px;
}
.main {
  width: 100%;
  height: 600px;
  display: flex;
  padding: 0px 50px 50px 50px justify-content: space-evenly;
  flex-direction: column;
}
.xxl-img img {
  width: 311px;
}

  .gamer-content h4 {
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
  }

  /* careers styles */
  .careers {
    background: #FF55AE;
    height: 740px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 11px;
    flex-direction: column;
  }

  .careers-img img {
    width: 100%;
    margin-left: 71px;
  }

  .careers-content {
    padding-left: 0px;
  }

  .careers-img img {
    width: 100%;
    margin-left: 7px;
  }
/* player */
.player-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
}
/* footer styles */
.footer {
  margin-top: 495px;
  width: 100%;
  height: 331px;
  /* background: #0B0223; */
  background: #0B0223;
  align-items: center;
}
.footer-logo {
  display: flex;
  width: 100px;
  padding-top: 36px;
  padding-left: 17%;
}
.foot-nav {
  width: 100%;
  text-align: center;
  margin-top: 17px;
}
.foot-nav a {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 13px;
  line-height: 27px;
  padding-top: 16px;
}
.foot-nav-2 {
  width: 100%;
  text-align: center;
  margin-top: 18px;
}
.foot-nav-2 a {
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  font-family: Work Sans;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  margin-left: 12px;
  text-decoration: none;
}
.foot-icon {
  width: 100%;
  text-align: center;
  margin-top: 13px;
}
.foot-icon a {
  font-size: 20px;
  margin-left: 20px;
  color: #FFF;

}
.foot-last p {
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  font-family: Work Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
  /* CSS */
}


/* 


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  /* CSS */
  /* header styles */
  header {
    display: flex;
    justify-content: space-around;
    padding: 22px 98px 20px 50px;
    gap: 21px;
    text-align: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    flex-direction: column;
  }

  .nav-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .nav-icon {
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 350px;
    height: 56px;
    flex-shrink: 0;
    align-items: center;
    text-align: center;
    margin: 7px 0px 0px 51px;
  }

  .nav-container a {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0px 4px 20px;
    text-decoration: none;
    align-items: center;
  }

  /* banner styles */
  .banner {
    display: flex;
    justify-content: space-between;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 700px 700px;
    gap: 0px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    flex-direction: column-reverse;
  }

  .banner-content {
    padding: 50px;
    margin-left: 16px;
  }

  .banner-content h1 {
    text-align: left;
    font-size: 67px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .banner-btn-container .sign-in-btn {
    display: inline-flex;
    padding: 10px 25px;
    color: #FFF;
    font-weight: 600;
    align-items: flex-start;
    border: 0;
    gap: 10px;
    border-radius: 48px;
    border: 1px solid #fff;
    background: #FF42A5;
    transition: .5s;
  }

  /* gamer styles */
  .gamer {
    display: flex;
    padding: 50px;
    background: #FFF9FC;
    flex-direction: column;
  }

  .gamer-img img {
    width: 307px;
  }

  .gamer-content h1 {
    text-align: center;
    font-size: 39px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gamer-content .purpose {
    color: #534C64;
    font-size: 15px;
    text-align: center;
    margin: 0px 30px 0px 0px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }

  .know-more-btn-container .know-more-btn {
    display: inline-flex;
    padding: 15px 30px;
    color: #FFF;
    font-weight: 600;
    align-items: flex-end;
    border: 0;
    gap: 10px;
    border-radius: 48px;
    border: 1px solid #fff;
    background: #FF42A5;
    transition: .5s;
    text-align: right;
    margin: 20px 0px 0px 64px;
  }

  .gamer-content h4 {
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
  }

  .gamer-content p {
    color: #534C64;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    margin: 10px 0px 0px 0px;
  }

  /* img-gallery styles */
  .img-card {
    width: 100%;
    height: 373px;
  }

  .img-gallery-container {
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
  }

  /* careers styles */
  .careers {
    background: #FF55AE;
    height: 740px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 11px;
    flex-direction: column;
  }

  .careers-img img {
    width: 100%;
    margin-left: 71px;
  }

  .careers-content {
    padding-left: 0px;
  }

  .careers-img img {
    width: 100%;
    margin-left: 7px;
  }

  /* main styles */
  .main {
    width: 100%;
    height: 650px;
    display: flex;
    padding: 0px 50px 50px 50px justify-content: space-evenly;
    flex-direction: column;
}
.main-content {
  padding-left: 28px;
}
.xxl-img img {
  width: 396px;
}
/* playesr styles */
.player-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
}
/* footer styles */
.footer {
  margin-top: 495px;
  width: 100%;
  height: 450px;
  /* background: #0B0223; */
  background: #0B0223;
  align-items: center;
}
.footer-logo {
  display: flex;
  width: 100px;
  padding-top: 80px;
  padding-left: 28%;
}
.foot-nav a {
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 13px;
  line-height: 42px;
  padding-top: 30px;
}
.foot-nav-2 {
  width: 100%;
  text-align: center;
  margin-top: 18px;
}
.foot-nav-2 a {
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  font-family: Work Sans;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  margin-left: 12px;
  text-decoration: none;
}
.foot-icon {
  width: 100%;
  text-align: center;
  margin-top: 13px;
}
.foot-icon a {
  font-size: 20px;
  margin-left: 20px;
  color: #FFF;

}
.foot-last p {
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  font-family: Work Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
  /* CSS */
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */
  /* header styles */
  header {
    display: flex;
    justify-content: space-around;
    padding: 20px 50px 20px 50px;
    gap: 205px;
    text-align: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  }

  .banner-img img {
    width: 115%;
    margin-left: -56px;
  }

  /* gamer styles */
  .gamer {
    display: flex;
    padding: 50px;
    background: #FFF9FC;
    flex-direction: column;
  }

  /* img-gallery styles */
  .img-gallery-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
  }

  .img-card {
    width: 91%;
    height: 402px;
  }

  .know-more-btn-container .know-more-btn {
    display: inline-flex;
    padding: 15px 30px;
    color: #FFF;
    font-weight: 600;
    align-items: flex-start;
    border: 0;
    gap: 10px;
    border-radius: 48px;
    border: 1px solid #fff;
    background: #FF42A5;
    transition: .5s;
    text-align: right;
    margin: 20px 0px 0px 558px;
  }

  /* CSS */

}


/* 
  ##Device = Tablets, Notebook, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */
  /* header styles */
  header {
    display: flex;
    justify-content: space-around;
    padding: 20px 50px 20px 50px;
    gap: 205px;
    text-align: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  }

  .banner-img img {
    width: 115%;
    margin-left: -56px;
  }

  /* gamer styles */
  .gamer {
    display: flex;
    padding: 50px;
    background: #FFF9FC;
    flex-direction: column;
  }

  /* img-gallery styles */
  .img-gallery-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
  }

  .img-card {
    width: 91%;
    height: 402px;
  }

  .know-more-btn-container .know-more-btn {
    display: inline-flex;
    padding: 15px 30px;
    color: #FFF;
    font-weight: 600;
    align-items: flex-start;
    border: 0;
    gap: 10px;
    border-radius: 48px;
    border: 1px solid #fff;
    background: #FF42A5;
    transition: .5s;
    text-align: right;
    margin: 20px 0px 0px 558px;
  }

  /* CSS */


}