* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
header {
    display: flex;
    justify-content: space-around;
    padding: 20px 50px 20px 50px;
    gap: 400px;
    text-align: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;

}

.logo img {
    width: 100%;
    padding: 0px 20px 0px 0px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-container a {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0px 0px 20px;
    text-decoration: none;
    align-items: center;
}

.nav-icon {
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 230px;
    height: 56px;
    flex-shrink: 0;
    align-items: center;
    text-align: center;
    margin: 0px 0px 0px 20px;
}

.nav-icon h3 {
    color: #3C354F;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 700px 700px;
    gap: 150px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.banner-content {
    padding: 50px;
    margin-left: 50px;
}

.banner-content h3 {
    color: #0B0223;
    text-align: left;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 50px 0px 0px 0px;
}

.banner-content h1 {
    text-align: left;
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content ul li {
    list-style: none;
    color: #534C64;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    text-transform: lowercase;
    line-height: 2.0em;
}

.banner-btn-container {
    display: flex;
    gap: 20px;
    margin: 30px 0px 0px 0px;
}

.banner-btn-container .sign-in-btn {
    display: inline-flex;
    padding: 15px 30px;
    color: #FFF;
    font-weight: 600;
    align-items: flex-start;
    border: 0;
    gap: 10px;
    border-radius: 48px;
    border: 1px solid #fff;
    background: #FF42A5;
    transition: .5s;

}

.banner-btn-container .sign-in-btn:hover {
    border: 1px solid #000;
    background: transparent;
    color: #FF42A5;
}


.banner-btn-container .go-rogue-btn {
    display: inline-flex;
    padding: 15px 30px;
    color: #FFF;
    font-weight: 600;
    align-items: flex-start;
    border: 0;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    transition: .5s;
}

.banner-btn-container .go-rogue-btn:hover {
    border: 1px solid #000;
    background: transparent;
    color: #4EC5F7;
}

.banner-img img {
    width: 80%;
    margin-left: 50px;
}

/* gamer styles */
.gamer {
    display: flex;
    padding: 50px;
    background: #FFF9FC;
}

.gamer-img {
    display: flex;
    width: 65%;
}

.gamer-img img {
    width: 600px;
}

.gamer-content h1 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gamer-content p {
    color: #534C64;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    line-height: 30px;
    margin: 10px 0px 0px 0px;
}

.know-more-btn-container {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
}

.know-more-btn-container .know-more-btn {
    display: inline-flex;
    padding: 15px 30px;
    color: #FFF;
    font-weight: 600;
    align-items: flex-start;
    border: 0;
    gap: 10px;
    border-radius: 48px;
    border: 1px solid #fff;
    background: #FF42A5;
    transition: .5s;
    text-align: right;
    margin: 20px 0px 0px 400px
}

.know-more-btn-container .know-more-btn:hover {
    border: 1px solid #000;
    background: transparent;
    color: #FF42A5;
}

.gamer-content .purpose {
    color: #534C64;
    font-size: 15px;
    text-align: right;
    margin: 0px 30px 0px 0px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

.gamer-content h4 {
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    text-align: right;
}

/* img-gallery styles */
.img-gallery {
    margin: 50px;
}

.img-gallery h1 {
    color: #0B0223;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0px 10px 0px;

}

.img-gallery h1 .funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: 700;

}

.img-gallery p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    margin: 0px 0px 30px 0px;
    font-weight: 400;
    line-height: 30px;
}

.img-gallery {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


.img-gallery-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
}

.img-card {
    width: 100%;
    height: 500px;
}

.img-card img {
    width: 100%;
    height: 300px;
}

.img-card p {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}


/* careers styles */
.careers {
    background: #FF55AE;
    height: 460px;
    display: flex;
    width: 100%;
    padding: 50px;
    justify-content: space-around;
    gap: 200px;
}

.careers-content {
    padding-left: 100px;
}

.careers-list-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.careers-content h1 {
    color: #FFF;
    font-size: 40px;
    margin: 0px 0px 20px 0px;
    font-weight: 700;
    line-height: 60px;
}

.careers-content p {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
    margin: 0px 0px 20px 0px;
}

.careers-content ul {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    list-style: none;
}

.careers-content .see-all-btn {
    padding: 12px 20px;
    border-radius: 50px;
    border: 0;
    margin: 20px 0px 0px 0px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;

    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    transition: all .5s ease;
   }
   
   .see-all-btn:hover {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
   }
   
   .see-all-btn:active {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translate(5px);
    transition: 100ms;
   }



.careers-img img {
    width: 100%;
}